body{
            background-color: rgb(0, 92, 170); 
            display: flex;       
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0;
            min-height: 105vh;

        }
        .blu{
        color: rgb(0, 92, 170);
        }
        .wa {            
            border: 1px solid black;
            border-radius: 10px;
            overflow: hidden;
        }
        .padding{
        background-color: rgb(255, 255, 255);
        padding: 25px;
        box-shadow: 10px rgba(255, 255, 255, 0.829);
        padding-bottom: 10%;
        }
        .bord{
        border: 20px rgb(0, 0, 0);
        border-radius: 25px;
        border-bottom-color: black;
        outline: 1px dotted rgb(255, 255, 255);
        outline-offset: 2px;
        box-shadow: 0 0 130px rgba(135, 206, 250, 0.6);
        }
        .div {
            display: flex;
        }
        .text {
            font-family: Arial, bold;
            width: 20%;
            height: 20%;
        }

        .marg{
            margin: 5px;
        }
        .tocenter{
            display: flex;       
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 10px;
        }
        .divsize{
        width: 500px; 
        height: 450px;
        }
        .titler{
            font-family: sans-serif;
            font-weight: 900;
            font-size: 1.4rem;
            color: rgb(0, 92, 170);
            text-decoration: underline;
        }
        .titlersize{
            font-family: sans-serif;
            font-weight: 900;
            font-size: 2rem;


        }

        .labs {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 0.6em;
            letter-spacing: 1px;
        }
        .spac {

            letter-spacing: 2px;
        }
        .marcador{
         background-color: rgb(0, 92, 170);
         padding: 0 4px;
         color: rgb(255, 255, 255);
         border-radius: 2px;
        }

        .Mmarg{
            margin: 30px;
        }

        .divsize2{
        width: 550px; 
        height: 600px;
        border: 1px black;
        border-color: black;
        }
